<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class = "container">

    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}"> <!-- ${}는 모델안의 값을 꺼낸다 -->
                <td th:text="${member.id}"></td> <!--th:each는 thymeleaf 문법이다-->
                <td th:text="${member.name}"></td> <!--자바의 프로퍼티 방식 접근-->
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>